/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
}
nav {
    width: 100%;
    border: 0px,0px,0px,0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ulnav{
    display: flex;
    width: 30%;
    height:100%;
    padding: 0 3%;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 0%;
    /*gap: 65%;*/
    list-style: none;
}
.ulnav li{
    padding: 30px;
}

.ulnav li:hover{
      border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 30px;
}


#logo{
    width: 75%;
    margin-top: 5px;
}

h1{
    font-weight: 700;
    size: 24px;
    line-height: 100%;
    margin-top: 30px;
    
    letter-spacing: 0%;
}
.desc{
    font-weight: 400;
    size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}
header{
    gap: 24px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.rechercher-form{
    display: flex;
    unicode-bidi: plaintext;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.filtres-list {
    list-style: none;
    align-items: row;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    height: auto;
    gap: 15px;
    padding-inline-start: 0%;
}

section.filtres{
    display: flex;
    height: auto;
    gap: 5px;
    text-align: center;
    unicode-bidi: plaintext;
    align-items: baseline;
    margin-bottom: 20px;
}

h3{
    font-size: 18px;
    display: flex;
    text-align: center;
    unicode-bidi: plaintext;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    align-content: baseline;
}

#rechercher{
    display: inline-block;
    position: relative;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: 1px;
    color: white;
    padding: 10px;
    font-weight: bolder;
    align-content: center;
    height: auto;
    cursor: pointer;
}

#rechercher-icone{
    display: none;
    background-color: #0065FC;
    color: #D9D9D9;
    border: none;
    padding: 0 18px;
    height:auto;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}
#location{
    position: relative;
    color: #000000;
    font-weight: bolder;
    font: Raleway;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: 1px solid #F2F2F2 ;
    height: auto;
}

.label-location{
text-align: center;
}

i.fa-solid.fa-location-dot {
    font-size: 22px;
    color: #000000;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 13px;
    height: auto;
    position: relative;
    align-content: center;
}
.filtres button{
  
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 8px 19px 8px 19px;
  gap: 10px;
  background-color:white;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
}

.filtres-list button:hover{
    background-color:#DEEBFF ;
}

.info{
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-weight: 400px;
}

.fa-solid {
    color: var(--main-color);
    width: 22px;
    height: 22px;
    border-top: 1px;
    border-left: 2.5px;
}
.rond-info{
     align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.fa-solid fa-info rond-info{
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 25%;
    padding: 10px;
    color: #0065FC;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ******/
.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-bottom: 20px;
    font-weight: 700;
    size: 22px;
    word-spacing: 0%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.a-hebe {
    flex: 1 1 calc(33.333% - 30px);
    min-width: 250px;
}

.hebe-card {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.hebe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 20px 20px 20px 0px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
}

.card-rating {
    margin-top: 5px;
}

.neutral-star {
    color: var(--main-bg-color);
}

.hebergements h3{
    margin-top: 20px;
}

/*****populaires ne pas toucher*****/

/****** Populaires ******/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******activités******/

.activites {
  margin-top: 35px;
}

.activites-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0 30px 0;
}

.card-acti {
margin: 0%;
  flex: 0 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.card-acti img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
  
}

.card-acti figcaption {
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

/******footer******/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 30px;
}

.footer-card{
    width: 22%;
    height: auto;
    min-height: 163px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;/*alignement des elements naturel à gauche on va dire */
    gap: 10px;
}

.footer-card h3{
    margin: 0%;/*fy navigateut user*/
    font-size: 18px;
}

.footer-card ul{
    list-style: none;
    padding: 0%;
     margin: 0%;
}

.footer-card ul li {
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-card ul li:hover {
    text-decoration: underline;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) min-width: 768px et max-width: 1024px */
@media (max-width: 1024px) {
   
    #rechercher-icone{
    display: none;
    }
    nav{
        width: 95%;
    }

    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .filtres-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-acti{
        flex: 0 1 calc(50% -20px);
        height: 200px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 20px;
        background-color: #F2F2F2;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    }
    .card-acti img{
        height: 70%;
        width: 100%;
        object-fit: cover;
    }

    .card-acti figcaption{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        padding: 0 10px;
    }
}
/*******************************************************************************************************************************/
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   
    main{
        width: 100%;
        margin:0%;
        padding:0%;
    }

    .main-container {
        width: 100%;
        unicode-bidi: plaintext;
        box-sizing: border-box;
        padding: 0%;

    }

    header{
    display: flex;
        flex-direction: column;
        align-items: center;
       }

    #logo{
        display: flex;
        margin:auto;
        width: 45%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
   
    nav{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ulnav {
        unicode-bidi: plaintext;
        margin: 0%;
        padding: 0%;
        align-self: baseline;
        justify-content: space-around;
        display: flex;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
        margin-top: 10px;
        gap: 0%;
    }

    .ulnav li{
        position: relative; /* nécessaire pour pouvoirl'ajouter le ::after */
        padding-bottom: 15px; /* espace pour la bordure */
        text-align: center;
    }
 
    .ulnav li:hover{
        border-top: 0px #D9D9D9;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        padding-top: 0px;
        padding-bottom: 15px;
        transition: width 0.3s;
        width: 50%;
    }

    .ulnav li:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; /* toute la largeur */
        height: 2px;
        background-color: var(--main-color);
    }

    h1 {
        font-size: 18px;
        unicode-bidi: plaintext;
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }

    .desc{
        font-size: 14px;
        text-align: center;
        unicode-bidi: plaintext;
        margin-top: 15px;
        border: 0px;
    }

    .filtres button{
        font-size: 14px;
    }

    .section-title{
        font-size: 18px;
    }

    .rechercher-form {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        font-size: 14px;
        margin-bottom: 30px;
        margin-left: 30px;
        /*align-content: center;*/
         max-width: 335px; /* comme sur la maquette aproximativement*/
         height: 49px;
    }
    .trouvez{
        unicode-bidi: plaintext;
        display: inline-block;
}
    .rechercher-form input {
        font-size: 14px;
       /* border-radius: 0 10px 0 10px;*/
        padding: 12px;
        height: 49px;
    }

    .rechercher-form button {
        font-size: 14px;
        padding: 8px;
        height: 49px;
        border-radius: 0;
        padding: 0 15px;
    }

    #rechercher{
        display: none;
        border-radius: 0 15px 15px 0;
        background-color: #0065FC;
        border: 1px;
        color: white;
        padding: 10px;
        font-weight: bolder;
        align-content: center;
        cursor: pointer;
        height: 49px;
    }

    #rechercher-icone{
        display: inline-block;
        padding: 14px;
        height: 49px;
        border-radius:0px 15px 15px 0px;
        font-size: 14px;
    }
    
    .glass{
        background-color: #0065FC;
        color: #D9D9D9;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }

    #rechercher-text{
        padding: 0%;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #rechercher i {
        font-size: 18px;
    }
  
/******filtres******/ 
    section.filtres {
        flex-direction: column;
        margin-left: 10px;
    }

    .filtres-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        unicode-bidi: plaintext;
    }

    .filtres-list li {
        width: 45%; /* 2 colonnes */
        display: flex;
        justify-content: center;
    }

    .filtres button {
         width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    .info{
        margin: 15px;
        margin-top: 40px;
        justify-content: center;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;  
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
        padding: 30px;
        box-sizing: border-box;
        unicode-bidi: plaintext;
        margin-top: 0%;
    }

    .populaires{
        background-color: var(--main-bg-color);
    }

    .a-hebe {
        flex: 1 1 100%;
    }

    .section-title {
        font-size: 18px;
        margin: 10px;
    }

    section.hebergements{
        background-color: white;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }  

/****** activites et footer le plus simple possible*****/
 
    .card-acti {
        flex: 1 1 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-card {
        width: 100%;
        align-items: flex-start;
    }

}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































